.filters {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 25px;
    width: 200px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filters h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .checkboxes {
    display: flex;
    flex-direction: column;
  }
  
  .checkboxes label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
  }
  
  .checkboxes input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .filter_btn {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .filter_btn:hover {
    background-color: #e68a00;
  }
  